*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-left: 50px;
    /* max-width: 120px;
    height: auto; */
}

.logo img {
    width: 40px;
    height: auto;
}

.just-food {
    margin-left: 10px;
}

.just-food a {
    text-decoration: none;
    color: #333;
    font-family: "Roboto", system-ui;
    font-weight: 500;
    font-style: normal;

}

.nav-right {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.nav-menu {
    display: flex;
    margin-right: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-menu a {
    color: #333333b5;
    text-decoration: none;
    font-family: "Roboto", system-ui;
    font-weight: 500;
    font-style: normal;

  }

.nav-menu a:hover {
    color:#333;
  }

.nav-menu li {
    margin-right: 20px;
}

.cta-button {
    margin-right: 90px;
}

.cta-button .btn {
    background-color: #FFA500;
    color: #fff;
    padding: 10px 25px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    font-family: "Roboto", system-ui;
    font-weight: 500;
    font-style: normal;
  }

  .cta-button .btn:hover {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
  }

  .landing-page{
    height: 450px;
    width: 100%;
    background-color: #ffe9bffd;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* gap: 100px; */
    align-items: center;
    font-family: "Roboto", system-ui;
    font-weight: 500;
    font-style: normal;
  }



  .landing-info{
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    text-align: left;
    /* margin-left: 20px; */
  }

  .landing-info {
    padding: 20px;
    color: #464646;
    text-align: justify;
    line-height: 1.5;
    font-size: 15px;
    /* margin: 200px; */

  }
  .order-button .btn{
    background-color: #FFA500;
    color: #fff;
    padding: 10px 25px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    font-family: "Roboto", system-ui;
    font-weight: 500;
    font-style: normal;
    
  }

  .under {
    color: #333;
    font-family: "Roboto", system-ui;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
  }

  .box1 {
    border: 1px solid rgba(0, 0, 0, 0);
    width: 300px;
    height: 250px;
    /* margin-left: 200px; */
    position: relative;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  }

  .icon1{
    border-radius: 100%;
    width: 70px;
    height: 70px;
    background-color: #FFA500;
    margin: 10% auto;
    display: flex;
    justify-content: center;
  }

  .icon1 img {
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    margin-top: 10px;
  }

  .box1 h2 {
    color: #333;
    font-family: "Roboto", system-ui;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    margin-top: 0px;
  }

  .box1 p {
    color: #333;
    text-align: center;
    font-family: "Roboto", system-ui;
    font-weight: 400;
    font-style: normal;
    margin: 10px;
  }

  
  .box2 {
    border: 1px solid rgba(0, 0, 0, 0);
    width: 300px;
    height: 250px;
    /* margin-left: 200px; */
    position: relative;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  }

  .icon2{
    border-radius: 100%;
    width: 70px;
    height: 70px;
    background-color: #FFA500;
    margin: 10% auto;
    display: flex;
    justify-content: center;
  }

  .icon2 img {
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    margin-top: 10px;
  }

  .box2 h2 {
    color: #333;
    font-family: "Roboto", system-ui;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    margin-top: 0px;
  }

  .box2 p {
    color: #333;
    text-align: center;
    font-family: "Roboto", system-ui;
    font-weight: 400;
    font-style: normal;
    margin: 10px;
  }

  
  .box3 {
    border: 1px solid rgba(0, 0, 0, 0);
    width: 300px;
    height: 250px;
    /* margin-left: 200px; */
    position: relative;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  }

  .icon3{
    border-radius: 100%;
    width: 70px;
    height: 70px;
    background-color: #FFA500;
    margin: 10% auto;
    display: flex;
    justify-content: center;
  }

  .icon3 img {
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    margin-top: 10px;
  }

  .box3 h2 {
    color: #333;
    font-family: "Roboto", system-ui;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    margin-top: 0px;
  }

  .box3 p {
    color: #333;
    text-align: center;
    font-family: "Roboto", system-ui;
    font-weight: 400;
    font-style: normal;
    margin: 10px;
  }


.box-container {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-top: 30px;
}

.our-prod {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 20px;
  font-size: 20px;
}

.local-food {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

/* cards */

.food-cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 150px;
}

.card {
  border: none;
  border-radius: 20px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.image-container {
  padding: 20px;
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.image-container img {
  margin-top: -10px;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.content {
  padding: 15px;
}

.heading-rating{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.heading-rating>h3 {
  margin: 0;
  font-size: 16px;
  color: #333;
}

.rating {
  columns: #ffa500;
  font-size: 14px;
}

.price-and-description > p {
  font-size: 10px;
  color: #666;
  margin: 0px;
}

.price-and-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.price {
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.add-to-cart {
  width: 100%;
  padding: 10px;
  background-color: #ffcc00;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-to-cart:hover {
  background-color: #e6b800;
}

.view-more {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.vp {
  width: 160px;
  padding: 10px;
  background-color: #ffcc00;
  border: none;
  border-radius: 20px;
  margin-top: 20px;
  font-size: 12px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.vp:hover{
  background-color: #e6b800;
}


.sub-land {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border: none;
  width: 100%;
  height: 300px;
  background-color: #a27d52;
  margin-top: 20px;
}


.land-img {
  display: flex;
  justify-content: end;
  height: 200px;
}

.land-content {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    text-align: left;
    line-height: 2.0;
}

.land-content>h2 {
  color: #fff;
}

.land-content>p {
  color: #fff;
}

.order-now {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFA500;
  color: #fff;
  padding: 10px 25px;
  width: 140px;
  height: 30px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  font-family: "Roboto", system-ui;
  font-weight: 500;
  font-style: normal;
  margin-top: 30px;
}

.order-now>a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.newsletter {
  /* border: 1px solid black; */
  display: flex;
  height: 250px;
  justify-content: center;
  gap: 50%;
  align-items: center;
}

.newsimg img{
  height: 250px;
}

.cta {
  line-height: 2.0;
}
.cta>h2 {
  color: #333;
}

input{
  width: 200px;
  height: 30px;
  padding: 10px;
}


.Sub-btn{
  border: none;
  border-radius: 10px;
  width: 100px;
  height: 40px;
  background-color: #FFA500;
}

.Sub-btn:hover{
  cursor: pointer;
  background-color: #ffcc00;
  transition: 0.05s ease-in-out;
}

.help {
  background-color: #a27d52;
  height: 150px;
}

.foot{
  background-color: #523719;
  height: 50px;
}


.nav-bar-last {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.logo2 {
  display: flex;
  align-items: center;
  margin-right: 20px;
  margin-left: 50px;
  /* max-width: 120px;
  height: auto; */
}

.logo2 img {
  width: 40px;
  height: auto;
}

.just-food2 {
  margin-left: 10px;
}

.just-food2 a {
  text-decoration: none;
  color: #333;
  font-family: "Roboto", system-ui;
  font-weight: 500;
  font-style: normal;

}

.nav-right2 {
  display: flex;
  align-items: center;
  /* margin-left: auto; */
}

.nav-menu2 {
  display: flex;
  margin-right: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-menu2 a {
  color: #333333b5;
  margin-right: 20px;
  text-decoration: none;
  font-family: "Roboto", system-ui;
  font-weight: 400;
  font-size: 13px;
  font-style: normal;

}

@media screen and (min-width: 1024px){
  .first-image img {
    width: 350px;
  }

  .landing-info {
    font-size: 16px;
  }

  .box-container {
    justify-content: center;
    gap: 40px;
  }

  .box1, .box2, .box3 {
    width: 300px;
  }
}

@media screen and (max-width: 950px){
  .first-image img {
    height: 300px;
  }

  .landing-page {
    gap: 30px;
  }
  .box1, .box2, .box3 {
    width: 288px;
    align-self: center;
  }

  .box-container {
    justify-content: center;
    flex-direction: column;
    gap: 100px;
  }

  .land-content>h2 {
    font-size: 20px;
    /* margin-top: 20px; */
  }

  .land-content>p {
    font-size: 15px;
  }
}


@media screen and (max-width: 610px) {

  .first-image img {
    height: 200px;
    margin-top: 10px;
  }

  .landing-page {
    height: 90%;
  }

  .landing-info {
    text-align: center;
    font-size: 16px;
    padding-bottom: 30px;
    flex-basis: 100%;
  }
  .box-container {
    justify-content: center;
    flex-direction: column;
    gap: 27px;

  }
  .box1, .box2, .box3 {
    width: 200px;
    align-self: center;
  }

  .under{
    font-size: 17px;
  }

  .our-prod {
    font-size: 16px;
    margin-top: 12px;
  }

  .sub-land {
    display: block;
  }

  .land-content {
    margin-left: 20px;
  }

  .land-img {
    height: 150px;
  }

  .land-content>h2 {
    font-size: 16px;
    margin-top: 20px;
  }

  .land-content>p {
    font-size: 10px;
  }



}